@media screen and (max-width : 550px){

    .header svg{
        display: flex;
    }


    .banner h1{
        display: flex;
        font-size: 18px;
        float: left;
        margin-top: 35px;
    }
    .play{
        display: flex;
        padding: 0px;
        margin: -29px;
        margin-left: 123px;
    }
}

// .play{
//     display: flex;
//     padding: 0px;
//     margin: -30px;
//     margin-left: -14px;

// }
